.Nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(3, 5, 22);
    
   
}
.page{
    display: flex;
    align-items: center;
    height: 100%;
}
.page button{
    font-size:2rem;
    background: none;
    border: none;
    height: 1.5rem;
    align-items: center;
}

.search{
   
    width: 70%;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search button{
    background:none;
    height: 100%;
    
}
.search input{
    font-size: 1rem;
    padding: 0px 1rem;
    width: 85%;
    height: 100%;
    color: white;
    background-color: rgba(3, 5, 22);
    border: 3px solid grey;
    border-radius: 2rem;
    margin: 5px 0px; 
   
}

.navigatebuttons{
    filter: invert(100%);
}
.search input:focus {
    outline: none;
}
.imgcontain img{
    height: 1.7rem;
    object-fit: contain;
    border-radius: 50%;
}
.imgcontain{
    border-radius: 50%;
}
.profile{
    border-radius: 25px;
    /* border: solid snow 1px; */
    color: white;
    display: flex;
    align-items: center;
    padding: 0.2% 0.5%;
    justify-content: space-around;
    width: 13%;
    background-color: rgba(128, 128, 128, 0.551);
}

.logoutbutton{
    color: rgba(255, 0, 0, 0.877);
    background: none;
    border: 2px solid rgba(255, 0, 0, 0.877);
    font-weight: bold;
    border-radius: 2rem;
}

.logoutbutton:hover{
    background-color: rgba(255, 0, 0, 0.877);
    color: rgba(3, 5, 22);
}
